* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

@media screen and (max-width: 667px) {
  html {
    font-size: 50%; } }

a {
  color: #444; }
  a:hover {
    text-decoration: none; }
  a:visited {
    color: #666; }

.article-list {
  width: 1100px;
  margin: 0 auto; }

@media screen and (max-width: 1280px) {
  .article-list {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 5rem; } }

.paging {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem; }
  .paging__link {
    font: 2.4rem sans-serif; }
    .paging__link--next {
      justify-self: flex-start; }
    .paging__link--previous {
      justify-self: flex-end; }

.footer {
  margin: 10rem 0 5rem; }
  .footer__copyright {
    font: 2.4rem/1.2 Georgia, serif;
    text-align: center; }

.intro-bar {
  background: url(../images/sidebar.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  margin-bottom: 10rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden; }
  .intro-bar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    z-index: 0;
    opacity: .75; }
  .intro-bar__photo {
    max-width: 24rem;
    border: 3px solid #fff;
    display: block;
    border-radius: 100%;
    margin-bottom: 5rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    z-index: 1; }
  .intro-bar__header {
    margin-bottom: 2.5rem;
    z-index: 1; }
  .intro-bar__home-link {
    color: #000;
    text-decoration: none; }
    .intro-bar__home-link:visited {
      color: #000; }
    .intro-bar__home-link:hover {
      color: #444; }
  .intro-bar__name {
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.4); }
    .intro-bar__name--first {
      font: 4.8rem/1 sans-serif; }
    .intro-bar__name--last {
      font: 4.8rem/1 sans-serif; }
  .intro-bar__subhead {
    font: 2.4rem/1 sans-serif;
    text-align: center;
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.4);
    z-index: 1; }
  .intro-bar__social-nav {
    z-index: 1; }
  .intro-bar--small .intro-bar__name {
    display: inline; }
    .intro-bar--small .intro-bar__name--first {
      padding-right: 1rem; }
  .intro-bar--small .intro-bar__photo {
    display: none; }

.social-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 5rem; }
  .social-links__item {
    margin-left: 2rem; }
    .social-links__item:first-child {
      margin-left: 0; }
  .social-links__link {
    display: block;
    width: 32px;
    height: 0;
    padding: 32px 0 0;
    overflow: hidden;
    background: url(../images/social-icons.png) no-repeat; }
    .social-links__link--github {
      background-position: -32px 0; }
    .social-links__link--twitter {
      background-position: -64px 0; }
    .social-links__link--linkedin {
      background-position: -96px 0; }

.post-page .post,
.post-page .post__foot {
  max-width: 1100px;
  margin: 0 auto; }
  @media screen and (max-width: 1280px) {
    .post-page .post,
    .post-page .post__foot {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 5rem; } }

.post {
  margin-bottom: 5rem; }
  .post__title {
    font: 4.8rem/1.4 sans-serif;
    margin-bottom: 1rem; }
  .post__published {
    font: 2.4rem/1 sans-serif;
    display: block;
    margin-bottom: 5rem; }
  .post__content h1,
  .post__content h2,
  .post__content h3 {
    font-family: sans-serif;
    line-height: 1.4;
    margin: 5rem 0 2rem; }
  .post__content h1 {
    font-size: 3.6rem; }
  .post__content h2 {
    font-size: 3rem; }
  .post__content h3 {
    font-size: 2.4rem; }
  .post__content p {
    font: 2.4rem/1.4 Georgia, serif;
    margin-bottom: 3rem; }
    .post__content p code {
      color: #f22;
      background: #f0f0f0;
      padding: 3px 6px;
      border-radius: 2px; }
  .post__content img {
    display: block;
    margin: 5rem auto;
    max-width: calc(100% - 20rem);
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25); }
    @media screen and (max-width: 667px) {
      .post__content img {
        max-width: 100%; } }
  .post__content ul,
  .post__content ol {
    padding-left: 2.5rem;
    font: 2.4rem/1.2 Georgia, serif;
    margin: 2rem 0; }
  .post__content li {
    padding-bottom: 2rem; }
  .post__content blockquote {
    background: #f1f1f1;
    margin: 2rem;
    padding: 3rem 3rem 1px;
    font-size: 2rem; }
  .post__content a[href*="youtube-thumb"] {
    display: block;
    position: relative; }
    .post__content a[href*="youtube-thumb"]:before {
      content: '';
      position: absolute;
      width: 20rem;
      height: 20rem;
      left: 50%;
      top: 50%;
      border-radius: 40rem;
      transform: translateX(-50%) translateY(-50%);
      background: rgba(0, 0, 0, 0.5); }
    .post__content a[href*="youtube-thumb"]:after {
      content: '';
      border: 5rem solid transparent;
      border-left-color: rgba(255, 255, 255, 0.75);
      position: absolute;
      top: 50%;
      left: calc(50% + 3rem);
      transform: translateX(-50%) translateY(-50%); }
    .post__content a[href*="youtube-thumb"]:hover:before {
      background: rgba(0, 0, 0, 0.75); }
    .post__content a[href*="youtube-thumb"]:hover:after {
      border-left-color: #fff; }
  .post__foot {
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
    padding-top: 4.8rem;
    border-top: 1px solid #666; }

.foot-nav {
  display: block;
  position: relative;
  font: 2.4rem/1 sans-serif;
  color: #666;
  max-width: 33%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 2.4rem; }
  .foot-nav--prev:before {
    content: 'Next Post';
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    left: 0; }
  .foot-nav--next:before {
    content: 'Previous Post';
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    right: 0; }

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496; }

.hljs-comment,
.hljs-quote {
  color: #586e75; }

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900; }

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198; }

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2; }

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900; }

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16; }

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f; }

.hljs-formula {
  background: #073642; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

pre code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
  font-size: 2.4rem;
  margin-bottom: 3rem; }
