* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

a {
  color: #444; }
  a:hover {
    text-decoration: none; }
  a:visited {
    color: #666; }

.article-list {
  width: 1100px;
  margin: 0 auto; }

.paging {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem; }
  .paging__link {
    font: 2.4rem 'Roboto Light', 'Roboto', sans-serif; }
    .paging__link--next {
      justify-self: flex-start; }
    .paging__link--previous {
      justify-self: flex-end; }

.footer {
  margin: 10rem 0 5rem; }
  .footer__copyright {
    font: 2.4rem/1.2 Georgia, serif;
    text-align: center; }

.home-page .article-list {
  width: auto;
  margin: 10rem 0 10rem 480px;
  padding: 0 5rem; }

.home-page .footer {
  margin-left: 480px; }

.intro-bar {
  background: url(../images/sidebar.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem; }
  .intro-bar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    z-index: -1; }
  .intro-bar:after {
    content: '';
    position: absolute;
    left: 100%;
    right: -1.6rem;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent); }
  .intro-bar__photo {
    max-width: 50%;
    max-height: 50%;
    border: 3px solid #fff;
    display: block;
    border-radius: 100%;
    margin-bottom: 5rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25); }
  .intro-bar__header {
    margin-bottom: 2.5rem; }
  .intro-bar__name {
    display: block;
    text-transform: uppercase;
    text-align: center; }
    .intro-bar__name--first {
      font: 4.8rem/1 'Roboto Light', 'Roboto', sans-serif; }
    .intro-bar__name--last {
      font: 4.8rem/1 'Roboto', sans-serif; }
  .intro-bar__subhead {
    font: 2.4rem/1 'Roboto Light', 'Roboto', sans-serif;
    text-align: center; }
  .intro-bar--horizontal {
    margin-bottom: 10rem;
    background-attachment: fixed;
    background-position: bottom;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 5rem 0;
    overflow: hidden; }
    .intro-bar--horizontal:before {
      z-index: 0;
      opacity: .75; }
    .intro-bar--horizontal:after {
      content: ''; }
    .intro-bar--horizontal .intro-bar__header,
    .intro-bar--horizontal .intro-bar__subhead,
    .intro-bar--horizontal .intro-bar__social-nav {
      z-index: 1; }
    .intro-bar--horizontal .intro-bar__name {
      display: inline; }
      .intro-bar--horizontal .intro-bar__name--first {
        padding-right: 1rem; }
    .intro-bar--horizontal .intro-bar__photo {
      display: none; }
  .intro-bar--vertical {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 480px; }

.social-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 5rem; }
  .social-links__item {
    margin-left: 2rem; }
    .social-links__item:first-child {
      margin-left: 0; }
  .social-links__link {
    display: block;
    width: 32px;
    height: 0;
    padding: 32px 0 0;
    overflow: hidden;
    background: url(../images/social-icons.png) no-repeat; }
    .social-links__link--github {
      background-position: -32px 0; }
    .social-links__link--twitter {
      background-position: -64px 0; }
    .social-links__link--linkedin {
      background-position: -96px 0; }

.post {
  margin-bottom: 5rem; }
  .post__title {
    font: 4.8rem/1.4 Roboto, sans-serif;
    margin-bottom: 1rem; }
  .post__published {
    font: 2.4rem/1 'Roboto Light', 'Roboto', sans-serif;
    display: block;
    margin-bottom: 5rem; }
  .post__content h1,
  .post__content h2,
  .post__content h3 {
    font-family: Roboto, sans-serif;
    line-height: 1.4;
    margin: 5rem 0 2rem; }
  .post__content h1 {
    font-size: 3.6rem; }
  .post__content h2 {
    font-size: 3rem; }
  .post__content h3 {
    font-size: 2.4rem; }
  .post__content p {
    font: 2.4rem/1.4 Georgia, serif;
    margin-bottom: 3rem; }
  .post__content img {
    display: block;
    margin: 5rem auto;
    max-width: calc(100% - 20rem);
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25); }
  .post__content ul,
  .post__content ol {
    padding-left: 2.5rem;
    font: 2.4rem/1.2 Georgia, serif;
    margin: 2rem 0; }
  .post__content blockquote {
    background: #f1f1f1;
    margin: 2rem;
    padding: 3rem 3rem 1px;
    font-size: 2rem; }
  .post__content a[href*="youtube-thumb"] {
    display: block;
    position: relative; }
    .post__content a[href*="youtube-thumb"]:before {
      content: '';
      position: absolute;
      width: 20rem;
      height: 20rem;
      left: 50%;
      top: 50%;
      border-radius: 40rem;
      transform: translateX(-50%) translateY(-50%);
      background: rgba(0, 0, 0, 0.5); }
    .post__content a[href*="youtube-thumb"]:after {
      content: '';
      border: 5rem solid transparent;
      border-left-color: rgba(255, 255, 255, 0.75);
      position: absolute;
      top: 50%;
      left: calc(50% + 3rem);
      transform: translateX(-50%) translateY(-50%); }
    .post__content a[href*="youtube-thumb"]:hover:before {
      background: rgba(0, 0, 0, 0.75); }
    .post__content a[href*="youtube-thumb"]:hover:after {
      border-left-color: #fff; }
  .post-page .post {
    max-width: 1100px;
    margin: 0 auto; }
