.post-page .post,
.post-page .post__foot {
  max-width: 1100px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 5rem;
  }
}

.post {
  margin-bottom: 5rem;

  &__title {
    font: 4.8rem/1.4 sans-serif;
    margin-bottom: 1rem;
  }

  &__published {
    font: 2.4rem/1 sans-serif;
    display: block;
    margin-bottom: 5rem;
  }

  &__content {
    h1,
    h2,
    h3 {
      font-family: sans-serif;
      line-height: 1.4;
      margin: 5rem 0 2rem;
    }

    h1 {
      font-size: 3.6rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2.4rem;
    }

    p {
      font: 2.4rem/1.4 Georgia, serif;
      margin-bottom: 3rem;

      code {
        color: #f22;
        background: #f0f0f0;
        padding: 3px 6px;
        border-radius: 2px;
      }
    }

    img {
      display: block;
      margin: 5rem auto;
      max-width: calc(100% - 20rem);
      box-sizing: border-box;
      box-shadow: 0 5px 5px rgba(0, 0, 0, .25);

      @media screen and (max-width: 667px) {
        max-width: 100%;
      }
    }

    ul,
    ol {
      padding-left: 2.5rem;
      font: 2.4rem/1.2 Georgia, serif;
      margin: 2rem 0;
    }

    li {
      padding-bottom: 2rem;
    }

    blockquote {
      background: #f1f1f1;
      margin: 2rem;
      padding: 3rem 3rem 1px;
      font-size: 2rem;
    }

    // [youtube] link styling
    a[href*="youtube-thumb"] {
      display: block;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 20rem;
        height: 20rem;
        left: 50%;
        top: 50%;
        border-radius: 20rem * 2;
        transform: translateX(-50%) translateY(-50%);
        background: rgba(#000, .5);
      }

      &:after {
        content: '';
        border: 5rem solid transparent;
        border-left-color: rgba(#fff, .75);
        position: absolute;
        top: 50%;
        left: calc(50% + 3rem);
        transform: translateX(-50%) translateY(-50%);
      }

      &:hover {
        &:before {
          background: rgba(#000, .75);
        }

        &:after {
          border-left-color: #fff;
        }
      }
    }
  }

  &__foot {
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
    padding-top: 4.8rem;
    border-top: 1px solid #666;
  }
}

$nav-link-color: #666;

.foot-nav {
  display: block;
  position: relative;
  font: 2.4rem/1 sans-serif;
  color: $nav-link-color;
  max-width: 33%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 2.4rem;

  &--prev:before {
    content: 'Next Post';
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    left: 0;
  }

  &--next:before {
    content: 'Previous Post';
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    right: 0;
  }
}
