.rollup-page {
  .intro-bar {
    margin-bottom: 10rem;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .25);
    position: relative;
    padding: 5rem 0;

    &:before {
      z-index: 0;
      opacity: .5;
    }

    &__name,
    &__subhead,
    .social-links {
      z-index: 1;
    }

    &:after {
      content: '';
    }

    &__name {
      display: inline;
      &--first {
        padding-right: 1rem;
      }
    }

    &__photo {
      display: none;
    }

  }
}